<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${ title }"></title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <!-- //js -->
    <!-- for bootstrap working -->
    <script th:src="@{/js/bootstrap.js}"> </script>
    <!-- //for bootstrap working -->

	<link th:href="@{/css/detail.css}" rel="stylesheet" type="text/css" media="all" />
</head>
	
<body>
<!-- header -->
	<div class="header" th:replace="fragment/header :: .header">
	</div>
<!-- //header -->
<!-- single -->
	<div class="single">
	<div class="container" th:object="${ dish } ">
		<h3 id="food-name" th:text="${ name }">意粉套餐A</h3>
		<div class="single-left">
			<img id="food-pic" th:src="@{'/images/'+ *{ pic } }" alt=" " class="img-responsive" />
			<!-- <img id="food-pic" th:src="@{/images/4.jpg}" alt=" " class="img-responsive" />  -->
		</div>
		<div class="single-right">
			<p id="food-info" th:text="*{ description }">shenme</p>
			<p id="food-info1" th:text="*{ price }">价格</p>
			<p id="food-info2" th:if="${ vipFlag == true }">vip尊享95折:<span  th:text="${dischangePrice}">打折后价格</span><img style="width:70px;" th:src="@{/images/vip.jpg}" /></p>
		</div>
		<div class="clearfix"> </div>
		<div class="three-com buy-part">
			<!--<h3>3  <span>on</span> <label>volutpat</label></h3>-->
			<div class="tom-grid">
				<div class="tom-right">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<form id="order-form" action="#" th:action="@{/order}" method="POST">
									<fieldset>
										<label class="control-label">选择数量</label>
										<div class="form-group input-group">
											<input name = "dishName" th:value="${ name }" style="display:none;"/>
											<input id="colorful" class="form-control" type="number" value="1" min="1" max="10" name="dishCount"/>
                    <span class="input-group-btn">
                    <input class="btn btn-warning" type="submit" value="购买!" />
                        <!-- <button class="btn btn-warning" type="button" onclick=window.location.href="/order">购买</button> -->
                    </span>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	</div>
<!-- //single -->
<!--- footer --->
	<div class="footer" th:include="fragment/footer :: .footer"></div>
	<div class="clear"> </div>
	<div class="copy-right">
	</div>
<!--- //footer --->

</body>
</html>