<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Movie Ticket and Service Website | Contact</title>

    <!--/*/ <th:block th:include="fragments/utils :: head"></th:block> /*/-->

</head>
<body>
<!-- header-section-starts -->
<div class="full">
    <div class="menu">
        <ul>
            <li><a href="index"><div class="hm"><i class="home1"></i><i class="home2"></i></div></a></li>
            <li><a href="videos"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
            <li><a href="reviews"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
            <!-- <li><a href="ticket"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li> -->
        </ul>
    </div>
    <div class="main">
        <div class="contact-content">
            <div class="top-header span_top">
                <!--/*/ <th:block th:include="fragments/utils :: header"></th:block> /*/-->
            </div>
            <!---contact-->
            <div class="main-contact">
                <div class="contact-form">
                	<form action="/index" th:object="${customer}" method="post" class="form-signin" role="form">
        				
        				<div class="form-group">
            				<input type="text" class="form-control" name="email" placeholder="UserName" required autofocus th:field="*{cname}" />
        				</div>
        				<div class="form-group">
            				<input type="password" class="form-control" name="password" placeholder="Password" required th:field="*{password}" />
        				</div>
        		
        				<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    				</form>
                   
                </div>
            </div>
        </div>
        <div class="footer">
            <!--/*/ <th:block th:include="fragments/utils :: footer"></th:block> /*/-->
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</body>
</html>