<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${ title }"></title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pasta Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="@{/js/jquery-1.11.1.min.js}"></script>
    <!-- //js -->

</head>
	
<body>
<!--- footer --->
	<div class="footer" >
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>本项目版本信息</h3>
					<p>版本一</p>
					<p>版本二</p>
					<p>版本三</p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>成员</h3>
					<p></p>
					<p></p>
					<p></p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>